/*............................................Heading*/

/* Main nav bar */
.navbar {
    padding: 10px 10px 10px 10px;
    height: 60px;
    background-color: #a63a79;
    text-shadow: 2px 2px 3px black;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
    border-width: 2px;
    box-shadow: 2px 2px 3px black;
}

.navbar-dark .navbar-brand {
    font-family: "Concert One", cursive;
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px black;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-family: "Concert One", cursive;
    font-size: 22px;
}

/* Hamburger button */
.fa-bars {
    color: #fff;
    text-shadow: 2px 2px 3px black;
}

/*............................................Home Page*/

/* Main band image */
.img-fluid {
    width: 100%;
    height: 36em;
}

/* Main band image responsive */
.img-responsive {
    display: block;
    width: 100%;
    height: 103%;
} 

/* Main image colour logo */
.img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    moz-transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
}

/*............................................Band Page*/

.grid {
  display: grid;
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        min(100%, 350px), /* min value */
        1fr /* max value */
      )
    );
  gap: 20px;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.item {
  padding: 1rem;
  background: #ab92b3;
  border-radius: 4px;
  box-shadow: 2px 2px 3px black;
  }

h3, h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

h5 {
  font-size: 22px;
  margin-bottom: 0.5rem;
  text-align: center;
}



.img {
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.card-text {
    font-family: Arial, Helvetica;
    font-size: 18px;
    text-align: justify;
   
}

/*............................................Tours*/

.card {
    border: none;
    list-style: none;
   
}

.card-deck {
    margin-top: 50px;
    padding: 10px;
    
}

.card-title {
    margin-top: -40px;
    padding-left: 5px;
    color: white;
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-group-item {
    border: none;
    background-color: #ab92b3;
    font-family: Arial, Helvetica;
    font-size: 14;
    font-weight: 700;
    color: white;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: left;
    }


.button1 {
    border-radius: 5px;
    padding-right: 5px;
    margin-top: -30px;
    vertical-align: middle;
    
   }
   
.btn1 {
    position: relative;
    background-color: green;
    font-family: Arial, Helvetica;
    margin-top: -10px;
    float: right;
    font-size: 15px;
    font-weight: 700;
   
}

/*............................................Store*/

.grid {
  display: grid;
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        min(100%, 350px), /* min value */
        1fr /* max value */
      )
    );
  gap: 10px;
  padding: 10px;
  margin-top: 75px;
  margin-bottom: 50px;
  
}

.item {
  padding: 1rem;
  background: #ab92b3;
  border-radius: 4px;
  box-shadow: 2px 2px 3px black;
  }

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Audio player track title */
h6 {
    font-family: Arial, Helvetica;
    color: black;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

/* Audio player */
audio {
    width: 95%;
    box-shadow: 2px 2px 3px black;
    border-radius: 100px;
    border-width: 25px;
    transform: scale(1.05);
    background-color: black;
    margin-left: 7px;
}

.img {
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.price {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica;
}

.btn {
    background: green;
    color: #000;
    border: none;
    width: 50%;
    padding: 1px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    
    }
    
    
/*............................................Contact*/

.contact-section .form-control {
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    font-weight: 900;
    font-family: Arial, Helvetica;
}
.contact-fields {
    padding: 10px 0px 0px;
    text-align: center;
}
.phone {
    padding-top: 50px;
}
.phone,
.email,
.working-hours {
    margin-bottom: 30px;
}

.phone a,
.email a,
.location a {
    color: #fd4f00;
    font-size: 18px;
}
.contact-h2 {
    color: #fd4f00;
    padding-top: 20px;
}
.contact-fields .form-group {
    margin-bottom: 15px;
}

.contact-fields .form-group input,
.contact-fields .form-group textarea {
    font-size: 16px;
}

.btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
    border-radius: 5px;
}
.btn.btn-accent {
    background: green;
    color: white;
}
.btn.btn-accent:hover {
    background: #00FF00;
}

.ct-section-head {
    font-family: Arial, Helvetica;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 35px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
    text-align: center;
}

/*............................................Footer*/

.footer {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: "Concert One", cursive;
    color: #fff;
    background-color: #a63a79;
    text-shadow: 2px 2px 3px black;
    vertical-align: bottom;
    position: fixed;
    bottom: 0;
}

/*.............................................Media Queries*/

@media only screen and (min-width: 100px) and (max-width: 575px) {
.heading {
    color: black;
    margin-top: 10px;
    font-family: Arial, Helvetica;
    font-size: 30px;
    font-weight: 700;
}

.img-fluid {
    width: 100%;
    height: 78.4vh;
}

.col-sm-3 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ab92b3;
    
}

.column {
    width: 100%;
    display: block;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ab92b3;
    
}

p {
   text-align: center;
   font-size: 20px;
   font-weight: 900;
}

.navbar-brand {
    font-size: 5px;
   
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    display: block;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    font-size: 18px;
    top: 6px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    z-index: 1;
}
}





@media only screen and (min-width: 576px) and (max-width: 700px) {
    .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-family: "Concert One", cursive;
    font-size: 22px;
}



.col-sm-3.col-sm-12{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ab92b3;
    
}

.column {
    width: 100%;
    display: block;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ab92b3;
    
}

.heading {
    color: black;
    margin-top: 10px;
    font-family: Arial, Helvetica;
    font-size: 30px;
    font-weight: 700;
}



    
}

@media only screen and (min-width: 701px) and (max-width: 1023px) {
/* Band card */
.card {
    height: 108%;
    z-index: -1;
}



.card-header {
    padding: .75rem 1.25rem;
    margin-top: -5px;
    margin-bottom: -5px;
    background-color: #ab92b3;
    font-family: Arial, Helvetica;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ab92b3;
    border-radius: 100px;
}

.card-title {
    text-align: center;
    font-family: "Concert One", cursive;
    font-size: 17px;
    margin-top: -18px;
    margin-bottom: 0px;
} 

    
    
    .mobile-tour {
        display: none;
    }

/* Album artwork */
img.p-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    
}

div.p-grid-in {
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid #e8f0ff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    background: #ab92b3;
    
}
   
.contact-fields .form-group input,
.contact-fields .form-group textarea {
    font-size: 13px;
}

/* Audio player */
audio {
    width: 95%;
    box-shadow: 2px 2px 3px black;
    border-radius: 100px;
    border-width: 25px;
    transform: scale(1.05);
    background-color: black;
    margin-left: 9px;
}

/* Audio player track title */
h6 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

/* Product names */
div.p-name {
    font-size: 15px;
}

/* Product price */
div.p-price {
    font-size: 15px;
}

/* Add to cart button */
button.p-add {
    background: green;
    color: #000;
    border: none;
    width: 100%;
    padding: 1px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.col {
    float: left;
    width: 50%;
}

/* Main band image */
.img-fluid {
    display: block;
    width: 100%;
    height: 75.5vh;
}
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Grid container */
#p-grid {
    display: grid;
    margin-top: 2px;
    margin-bottom: 6px;
    height: 215vh;
    
    /* Width of grid columns */
grid-template-columns: 25% 25% 25% 25%;
}

.mobile-tour {
    display:none;
}
}





@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    /* Grid container */
#p-grid {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    margin-top: 20px;
    height: 0;

/* Width of grid columns */
grid-template-columns: 25% 25% 25% 25%;
}

.mobile-tour {
    display: none;
}

audio {
    width: 70%;
    box-shadow: 2px 2px 3px black;
    border-radius: 100px;
    border-width: 25px;
    transform: scale(1.05);
    background-color: black;
    margin-left: 7px;
}

/* Audio player track title */
h6 {
    font-size: 13px;
    margin-right:50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
   
}





  




.card {
   
    z-index: -1;
}

.card-header {
    font-size: 23px;
    font-weight: bolder;
}

.card-title{
    margin-top: -15px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: bold;
}

/* Band biography */
.card-text {
    font-family: Arial, Helvetica;
    text-align: justify;
    font-size: 15px;
}

    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
}

.contact-fields .form-group input,
.contact-fields .form-group textarea {
    font-size: 15px;
}

.ct-section-head {
    font-family: Arial, Helvetica;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 35px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
}
}

@media only screen and (min-width: 1366px) and (max-width: 1680px) {
/* Grid container */
#p-grid {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    margin-top: 18px;
    margin-bottom: 6px;

/* Width of grid columns */
    grid-template-columns: 25% 25% 25% 25%;
}




}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
    /* Grid container */
#p-grid {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    margin-top: 100px;
    margin-bottom: 6px;

/* Width of grid columns */
    grid-template-columns: 25% 25% 25% 25%;
}


/* Main band image responsive */
.img-responsive {
    width: 100%;
    height: 93.8vh;
}

}



